/* styles.css */
#roloDexter {
	min-width: 500px;
	max-width: 600px;
	width: auto;
	padding: 35px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #ffffe0;
	-webkit-box-shadow: 0px 3px 33px -6px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 3px 33px -6px rgba(0,0,0,0.56);
	box-shadow: 0px 3px 33px -6px rgba(0,0,0,0.56);
}

a{
	color: blue;
}

a:hover {
	text-decoration: underline;
}

.contact-info {
	margin-bottom: 2px;
	padding-bottom: 4px;
	opacity: 0.8;
}

p {
	margin: 0;
	padding: 0;
	padding-left: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: inherit;
}

span {
	font-size: 100%;
	line-height: inherit;
	margin-left: 5px;
}

span.record-notes {
	font-style: italic;
	overflow: visible;
	white-space: wrap;
}

span.record-name {
	font-size: 1.3em;
	color: purple;
	font-weight: bold;
}

form {
	padding-bottom: 35px;
}

div.record-photo {
	display: inline-block;
	width: 116px;
	height: 146px;
	border: 1px solid #ababab;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 110px 140px;
	background-position: center center;
	opacity: 0.9;
	float: left;
	margin-top: 5px;
	border-radius: 4px;
}

.contact label {
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: right;
	float: right;
	opacity: 0.4;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 20%;
	font-style: normal;
	font-size: .95em;
	position: relative;
	margin-right: 5px;
}

label.record-name {
	font-size: .95em;
	position: relative;
	top: 6px;}


p.contact-info {
	content: " ";
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #999;
	opacity: 0.7;
	position: relative;
	margin-left: 130px;
	display: block;
	z-index: 2;
}

li {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

li:before {
	content: " ";
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px dashed #666;
	position: relative;
	display: block;
	z-index: 2;
	width: calc(100% + 70px);
	left: -35px;
}

